.header {
  align-items: center;
  background-color: rgb(5, 51, 255);
  display: flex;
  justify-content: space-between;
}

.header__group {
  align-items: center;
  display: flex;
  padding-left: 2rem;

  i {
    font-size: 1.5rem;
    padding-right: 0.5rem;
  }
}
