.header {
  align-items: center;
  background-color: rgb(33, 62, 189);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__group {
  a {
    font-size: 1.2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  i {
    font-size: 1.5rem;
    padding-right: 0.5rem;
    text-align: center;
  }
}
