.sidenav {
  background-color: rgb(218, 219, 226);
  width: 12.5rem;

  a {
    color: rgb(8, 7, 7);
    font-size: 1.1rem;
  }

  i {
    padding-right: 0.5rem;
  }
}

.content {
  padding: 1rem;
  background-color: #ffffff;
}
